@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-y: scroll;
  position: relative;
}
body::after {
  position: absolute;
  content: "";
  background-image: url("assets/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  inset: 0;
  z-index: -1;
  filter: brightness(80%);
}
